code/xml_code/xmlexample/schema/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.oracle.com/note"
	xmlns:tns="http://www.oracle.com/note" elementFormDefault="unqualified">
	<element name="name">
		<complexType>
			<sequence>
				<element name="first" type="string"/>
				<element name="middle" type="string"/>
				<element name="last" type="string"/>
				<element name="title" type="string"/>
				<element name="salary" type="double"/>
			</sequence>
		</complexType>
	</element>
</schema>